@import url('./mixins/mixin.less');

@tm-table-space: @spacer;

.@{tm-prefix}-table {
  background-color: @bg-color-container;

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: @tm-table-space;
    gap: @tm-table-space;
  }

  &__top-left {
    display: flex;
    align-items: center;
    flex-shrink: 1;
    min-width: 0;
  }

  &__top-left-start {
    &:not(.is-hidden) {
      margin-right: @tm-table-space;
    }
  }

  &__search {
    .@{tm-prefix}-composite-search-tags {
      margin-top: @tm-table-space;
    }
  }

  .@{tm-prefix}-table__operation-cell .@{tm-prefix}-button-dropdown {
    .@{prefix}-button {
      padding: 0;
      // https://github.com/Tencent/tdesign-vue-next/blob/develop/packages/shared/hooks/useRipple/index.ts
      // 对应 TDesign useRipple 中 getRippleColor 取值的 CSS 变量，设为 transparent 让波纹不可见
      --ripple-color: transparent;
      // 去除 hover 时的背景色和边框，让操作列的按钮更干净
      &:hover,
      &:active {
        background-color: transparent;
        border-color: transparent;
      }

      &__suffix:not(:empty) {
        margin-left: 0;
      }
    }
  }
}
